{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    
    <section class="card card-body">
        <h1 class="display-1 text-center">Admin Task</h1>
        <img src="https://i.blogs.es/e33ddf/gestion-de-tareas/375_142.jpg" alt="">
        <div class="text-center">
            <a class="btn btn-secondary mt-3" href="/signin/">
                Signin
            </a>
            <a class="btn btn-secondary mt-3" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}